.fundo{
    background-color: rgba(255,235,205,255);
    height: 95vh;
    color: rgba(255,235,205,255);
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgba(61,69,67,255);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 2px 2px 2px 2px #000000;
}

.botao{
    width: 40px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    margin: 3px;
    background-color: rgba(49,49,49,255);
    color: white;
    border-radius: 15%;
    box-shadow: 1px 1px #000000;
}

.botao-amarelo{
    width: 40px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    margin: 3px;
    background-color: rgba(255,167,12,255);
    color: white; 
    border-radius: 15%; 
    box-shadow: 1px 1px #000000;
}

.botao-vermelho{
    width: 40px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    margin: 3px;
    background-color: rgba(255,69,97,255);
    color: white;  
    border-radius: 15%;
    box-shadow: 1px 1px #000000;
}

.botao-cinza{
    width: 40px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    margin: 3px;
    background-color: rgba(111,111,111,255);
    color: white; 
    border-radius: 15%;
    box-shadow: 1px 1px #000000;
}

#resultado{
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 5px;
    width: 180px;
    background-color: rgba(188,205,149,255);
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: white;
    text-align: right;
    padding: 5px;
    box-shadow: 2px 2px #000000;
}